<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="signup-field">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username" [(ngModel)]="loginDetails.username">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="signup-field">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" [(ngModel)]="loginDetails.password">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button mat-stroked-button color="accent" class="signup-button" (click)="login()">Submit</button>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>