<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table mat-table [dataSource]="licenses" class="mat-elevation-z8 license-table">
                <ng-container matColumnDef="licenseType">
                    <th mat-header-cell *matHeaderCellDef> License Type </th>
                    <td mat-cell *matCellDef="let licenseType"> {{licenseType.licenseType}} </td>
                </ng-container>

                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Active </th>
                    <td mat-cell *matCellDef="let isActive" class="text-center">
                        <fa-icon class="text-success" *ngIf="isActive.isActive" [icon]="faCheck"></fa-icon> <i
                            class="fas fa-times" *ngIf="!isActive.isActive"></i>
                    </td>
                </ng-container>

                <ng-container matColumnDef="licenseKey">
                    <th mat-header-cell *matHeaderCellDef> License Key </th>
                    <td mat-cell *matCellDef="let license"> {{license.licenseKey}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>