.sign-up-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-header {
    align-items: center;
    justify-content: center;
    

}

.product-container {
    margin: 8px;
}

.product-detail-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.product-detail-item {
    border-bottom: 1px solid #DDD;
    padding: 20px;
    font-size: 1.25rem;
}