<div class="container">
    <div class="row product-container">
        <div *ngFor="let product of products" class="col">
            <mat-card class="product-card">
                <mat-card-header class="product-card-header">
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <!-- <mat-card-subtitle>Plan</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="{{product.productImage}}" alt="Product Image">
                <mat-card-content>
                    <ul class="product-detail-list text-center">
                        <li class="product-detail-item">
                            <span>${{product.monthlyCost / 100}} / month</span>
                        </li>
                        <li class="product-detail-item">
                            <span>Service(s): {{product.numberOfApplications}}</span>
                        </li>
                        <li class="product-detail-item">
                            <span>Support: <fa-icon class="text-success" *ngIf="product.hasSupport" [icon]="faCheck">
                                </fa-icon>
                                <fa-icon class="text-danger" *ngIf="!product.hasSupport" [icon]="faTimes"></fa-icon>
                            </span>
                        </li>
                        <li class="product-detail-item">
                            <span>Control Panel: <fa-icon class="text-success" *ngIf="product.hasControlPanel"
                                    [icon]="faCheck"></fa-icon>
                                <fa-icon class="text-danger" *ngIf="!product.hasControlPanel" [icon]="faTimes">
                                </fa-icon>
                            </span>
                        </li>
                        <li class="product-detail-item">
                            <span>Forum Support: <fa-icon class="text-success" *ngIf="product.hasSupport"
                                    [icon]="faCheck"></fa-icon>
                                <fa-icon class="text-danger" *ngIf="!product.hasSupport" [icon]="faTimes">
                                </fa-icon>
                            </span>
                        </li>
                    </ul>
                </mat-card-content>
                <mat-card-actions class="sign-up-button">
                    <a mat-stroked-button color="accent" routerLink="/signup/{{product.productId}}">Sign Up</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="product-card">
                <mat-card-header class="product-card-header">
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Custom</mat-card-title>
                    <!-- <mat-card-subtitle>Plan</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="https://developersite.net/images/DS_04.jpg" alt="Product Image">
                <mat-card-content>
                    <ul class="product-detail-list text-center">
                        <li class="product-detail-item">
                            <span>$ ? / month</span>
                        </li>
                        <li class="product-detail-item">
                            <span>Service(s): ?</span>
                        </li>
                        <li class="product-detail-item">
                            <span>Support: <fa-icon class="text-success" [icon]="faCheck">
                                </fa-icon>

                            </span>
                        </li>
                        <li class="product-detail-item">
                            <span>Control Panel: ?
                            </span>
                        </li>
                        <li class="product-detail-item">
                            <span>Forum Support: ?
                            </span>
                        </li>
                    </ul>
                </mat-card-content>
                <mat-card-actions class="sign-up-button">
                    <button mat-stroked-button color="accent">Sign Up</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>