/* You can add global styles to this file, and also import other style files */

/* Imports functions, variables, and mixins that are needed by other Bootstrap files */
/* @import "variables"; */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
/*  Import Bootstrap Reboot */
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
/* @import "reset"; */

html, body { 
    height: 100%;
    background-color: #303030; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
